// Миксины
@mixin full-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin j-content {
    display: flex;
    justify-content: center;
}

@mixin align-items {
    display: flex;
    align-items: center;
}

@mixin container {
    padding: 0 45px;
}

@mixin link {
    text-decoration: none;
    color: $green;
}

@mixin img {
    user-select: none;
    pointer-events: none;
}

// Переменные
$white: #fff;
$black: #151515;
$gray: #A9A9A9;
$light-gray: #F5F5F5;
$dark-gray: #575757;
$green: #6A983C;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Общие стили
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.v-main-wrapper {
    font-family: Poppins, sans-serif; // Основной шрифт
}

// Импорты
@import "header";